<div class="container">
  <div class="row">
    <div class="col-6" id="blog-post-card">
      <p>Login</p>
    </div>
    <div class="col-6" id="blog-post-card-post">
      <p></p>
    </div>
    <form class="col-12 login-form" id="sign-up-card">
      <div class="pb-3" style="padding-left: 0; padding-right: 0">
        <label for="emailInput" class="form-label text-white mt-3 mx-3">Email address</label>
        <input type="email" class="form-control mx-3" style="width:20rem" id="emailInput"
          placeholder="name@example.com">
      </div>
      <label for="inputPassword5" class="form-label text-white mx-3">Password</label>
      <input type="password" id="inputPassword5" class="form-control mx-3" style="width:20rem"
        aria-describedby="passwordHelpBlock">
      <div id="passwordHelpBlock" class="form-text text-white mx-3 mb-4">

      </div>
      <div class="d-flex justify-content-center">
        <input type="submit" value="Login" class="btn" id="login-btn" type="button"></input>
      </div>
      <div class="col-12 mx-3 mb-3">
        <a href="/createacct" id="sign-up-instead">Sign Up Instead</a>

      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>